.footer{
	width: 90%;
	height:290px;
	background-color: #323639; 
	clear: both;
	color:rgba(255,255,255,0.6);
}

.footer h4{
font-size: 14px;
font-weight: bold;

}

.footer p{

	font-size: 14px;
}

.footer .logo{
width: auto;
padding: 10px;
margin-top: 80px;
display: block;
}

.footer .logofooter{
	width: 200px;
	opacity: 0.7;
}

#min{
	font-size: 10px;
	color: rgba(255,255,255,0.2);
}

/*-----------*/

.footer .link{
font-family: helvetica;
font-size: 16px;
padding-top: 10px;
padding-left: 70px;
margin-top: 30px;
text-align: left;
}

.footer .link ul{
	list-style: none;
}
.footer .link ul li a{

text-decoration: none;
color: rgba(255,255,255,0.6);
font-family: helvetica;
font-size: 14px;

}

/*-----------*/

.footer .redes{

	left: 0;
	top: 0;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
}

.footer .redes ul{

	display: flex;
	list-style-type:none;
    justify-content: center;
}

.footer .redes ul li a{

	 color: #737475;
}

.footer .redes ul li a:hover{

	 color: #ADAFB0;
	 text-orientation: none;
}

.footer .redes span:hover{

}
.footer .redes{

	margin-top: 30px;
}

.footer .redes span{

	font-size: 25px;
}

.footer .redes ul li{
	margin: 7px;
}
.footer .redes ul li a{
	
	text-decoration: none;
}

.footer .redes span:hover{

	text-orientation: none;

}


/*-----------*/

.footer .inf{

	left: 0;
	top: 0;
	text-align: center;
	padding-top: 10px;
	padding-left: 50px;
	margin-top: 30px;
}

.footer .inf h4{
	padding-left: 10px;
}

.footer .inf ul{

	list-style-type:none;
    justify-content: center;
}


.footer .inf ul li a{

	 color: rgba(255,255,255,0.6);
}

.footer .inf ul li a:hover{

	 text-decoration: none;
}

.footer .inf{

	margin-top: 30px;
}

.footer .inf span{

	font-size: 20px;
}
.footer .inf span{
	margin-top: 0px;
}

.footer .inf ul li{
	padding: px;
}

.footer .inf span{

	margin: 10px;
}

.Copyr p{

	font-size: 9px;
	color: rgba(255,255,255,0.2);
	padding-top: 10px;
	text-align: center;
	display: block;
}
.Copyr{

	border-top: 1px solid #7A7A7A;
	height: 12px;
	float: left;
}



